<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Linear Of Beaons</title>
    <link href="/static/css/home/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="content" style="width:500px;height:500px">

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.5.2/echarts.min.js"></script>
    <script src="/static/js/Gaussian.js"></script>
</body>

</html>